<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="il.co.a-report" version="3.0.0">
  <name>דוח סגולה</name>
  <description>A-Report by click</description>
  <author href="http://a-report.co.il" email="support@a-report.co.il">A-Report Team</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="false"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="phonegap-version" value="cli-6.3.0" />
  <preference name="android-build-tool" value="gradle" />
  <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
  <plugin name="cordova-plugin-inappbrowser" spec="~1.6.1" />
  <!--
  <plugin name="org.apache.cordova.splashscreen" spec="1.0.0" source="pgb" />
  <plugin name="org.apache.cordova.inappbrowser" spec="0.6.0" source="pgb" />
  -->
  <gap:plugin name="onesignal-cordova-plugin" source="npm" />
  <icon src="icon.png"/>
  <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57"/>
  <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114"/>
  <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
  <splash src="res/screen/splash.png" />
  <platform name="android">
    <splash src="res/screen/android/screen-ldpi-portrait.png" density="port-ldpi"/>
    <splash src="res/screen/android/screen-mdpi-portrait.png" density="port-mdpi"/>
    <splash src="res/screen/android/screen-hdpi-portrait.png" density="port-hdpi"/>
    <splash src="res/screen/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
  </platform>

    <splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
    <splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
    <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136"/>
    <splash src="res/screen/ios/screen-iphone-portrait-667h-2x.png" gap:platform="ios" width="750" height="1134"/>
    <splash src="res/screen/ios/screen-iphone-portrait-736h-2x.png" gap:platform="ios" width="1242" height="2208"/>
    <splash src="res/screen/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>