<div class="footer smoothHide">
    <div class="footer-option"><img src="assets/footer-future.png" ng-click="dataShare.action('futureReport')" /></div>
    <div class="footer-option"><img src="assets/footer-settings.png" ng-click="dataShare.action('settings')" /></div>
    <div class="footer-option">
       <img ng-show="!mainPage" src="assets/footer-home.png" ng-click="dataShare.action('main')" />
       <img ng-show="mainPage" src="assets/footer_logout.png" ng-click="dataShare.action('')" />
    </div>
</div>