<div class="report2-header">דיווח נוכחות עתידי <img src="assets/fr.png" style="padding-bottom:5px;"/></div><br /><br/>
<div class="reprt2-date">
    <div class="report2-calander" ng-click="showCalander=true"><img style="padding-bottom: 10px;" width="30" src="assets/calendar.png" /></div>
    <div class="report2-date_display">{{dateDisplay}}</div>
    <div class="report2-label"><img src="assets/dates-range.png" /></div><div class="clearfix"></div>
</div><br/>
<div ng-cloak>
<div class="report2-btn" ng-style="report2BtnStyle[4]" ng-click="changeFutureStatus(4)"><img src="assets/report/4.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[3]" ng-click="changeFutureStatus(3)"><img src="assets/report/3.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[2]" ng-click="changeFutureStatus(2)"><img src="assets/report/2.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[1]" ng-click="changeFutureStatus(1)"><img src="assets/report/1.png" /></div><br />
<div class="report2-btn" ng-style="report2BtnStyle[8]" ng-click="changeFutureStatus(8)"><img src="assets/report/8.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[7]" ng-click="changeFutureStatus(7)"><img src="assets/report/7.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[6]" ng-click="changeFutureStatus(6)"><img src="assets/report/6.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[5]" ng-click="changeFutureStatus(5)"><img src="assets/report/5.png" /></div><br />
<div class="report2-btn" style="color:#707070;font-size:14px;border-color: #707070;"><img src="assets/report/12.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[11]" ng-click="changeFutureStatus(11)"><img src="assets/report/11.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[10]"ng-click="changeFutureStatus(10)"><img src="assets/report/10.png" /></div><div class="report2-btn" ng-style="report2BtnStyle[9]" ng-click="changeFutureStatus(9)"><img src="assets/report/9.png" /></div><br />
<div class="report2-save"><div class="report2-save-btn" ng-click="report()"><img src="assets/save.png" /></div></div>
</div>
<div ng-if="showCalander" ng-include="'pages/calendar.html'"></div>
<div ng-include="'pages/reportInfo.html'"></div>
<div ng-include="'pages/footer1.html'"></div>
<div ng-include="'pages/loader.html'"></div>
