<div class="home-logout" ng-show="dataShare.get().id>0" ng-click="logout()">(התנתק)<img src="assets/user.png" /></div>
{{test22[0]}}
{{dataShare.getContacts()[0]}}
<div ng-click="enter()">
   <!--{{i_width}}x{{i_height}}-->
   <div class="home-logo"><img src="assets/logo1.png" /></div>
   <div class="home-footer"><img src="assets/logo3.png" /></div>
</div>
<div ng-show="!dataShare.loading && versionUpdate" class="popupScreen">
    <a ng-href="http://a-report.co.il/download"><img src="assets/home_version.png" /></a>
</div>
<div ng-include="'pages/loader.html'" />