<div class="statusList-header">דיווחים נוספים
    <div class="statusList-leftOpt"></div>
    <div class="statusList-rightOpt"></div>
</div><br />
<div class="statusList-info" ng-cloak>
    <div class="statusList-users" dir="rtl" ng-repeat="option in dataShare.get().options"><div class="statusList-user" ng-click="report(option.id)">{{ option.title }}</div></div>
</div>
<div ng-include="'pages/reportInfo.html'"></div>
<div ng-include="'pages/footer1.html'"></div>
<div ng-include="'pages/loader.html'"></div>
