div:focus, div:active {
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.pageMain {
    position: absolute;
    width:100%;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
}

.pageMain.ng-hide {
    margin-left: -100%;
}

.pageSecondary {
    position: absolute;
    width:100%;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
}

.pageSecondary.ng-hide {
    margin-left: 100%;
}

.smoothHide.ng-hide-remove,
.smoothHide.ng-hide-add {
    display:none !important;
}

.clearfix {
    clear: both;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

div{
    -webkit-appearance:none;
    font-size: 100%;
}

.page {
    /*zoom: 100%;*/
    bottom:0;
    padding-top:50px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%; 
    outline: none;
    color: white;

    background:#234a7d;
}

.loader {
    /*border-radius: 0px;*/
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
    background: #234a7d;
    opacity: 0.9;
    z-index:22;
}

.loader-image
{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -80px;
    margin-left: -50px;
}
.loader-text
{
    margin-top: 20px;
    font-size: 150%;
}

.footer {
    background:#00aeef;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

.footer-option {
    margin-left: 4%;
    display: inline-block;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}

.home-logout {
    float:right;
    margin-right: 30px;
    text-decoration: underline;
    font-size: 110%;
}

.home-logo {
    margin-top:85px;
    margin-bottom:25px;
}

.home-footer {
	width:100%;
	height:10%;
	position:absolute;
	bottom:0;
	left:0;
}

.md-button.md-fab.md-mini {
    padding: 0;
    margin: 10px;
    font-size: 200%;
    color: white;
    line-height: 75px;
    width: 75px;
    height:75px;
}

.login-header {
    margin-top:30px;
    height: 100px;
    font-size: 125%;
}

.login-phone {
    margin:10px;
    font-size: 175%;
}

.login-line {
    border: solid 1px #4b688e;
    margin-left:47%;
    width: 200px;
}

.login-circle {
    background: #234a7d;
    border-radius: 50%;
    margin: 12px 9px 20px 9px;
    margin-bottom: 20px;
    width: 14px;
    height: 14px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    display: inline-block;
    -webkit-transition: background 0.3s; /* For Safari 3.1 to 6.0 */
    transition: background 0.3s;
}

    .login-circle.border {
        background: #def9fb;
    }

.popupScreen {
    bottom:0;
    padding-top:45%;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
    outline: none;
    font-size: 100%;
    color: white;
    background:#183255;
    opacity:0.95;
    z-index:20;
}

.md-raised.md-warn.login-back {
    font-size:150%;
    margin-top:5%;
}

.report-back {
    position:absolute;
    top:-75px;
    right: 12px;
}

.report-date {
    font-size: 175%;
    margin-bottom: 25px;
}

.report-btn {
    border-radius: 5px;
    margin: 8px;
    width: 78px;
    height: 85px;
    border-width: 1px;
    border-style: solid;
    border-color: #00aeef;
    display: inline-block;
    font-size:120%;
}

.report-btnLabel {
    margin-top: -3px;
}

.report {
    margin-top:30px;
}

.report_locked {
    margin-top:20%;
}

.report_not-here {
    margin-top: 70px;
    margin-left: 25px;
    text-align: left;
    font-size:200%;
    color:#199eec;
    /*font-family:FrankRuehl;*/
}

.status {
    width:280px;
    height:390px;
    background-image: url('../assets/status.png');
    display: inline-block;
}

.status-delete {
    margin-left: 120px;
}

#status_icon {
    width:75px;
    display: inline-block;
}

.statusList-header {
    margin-bottom: 3px;
    width:98%;
    text-align:center;
    font-size:187.5%;
    background: #4b688e;
    padding-right:10px;
    display: inline-block;
}

.statusList-edit {
    float: left;
    width:10px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 70%;
    color: #00aeef;
}

.statusList-info {
    height:470px;
    overflow-y: auto;
}
.statusList-users {
    margin-top: 7px;
    margin-right: 20px;
    text-align:right;
    font-size:175%;
}

.statusList-user {
    padding-bottom: 7px;
    width:94%;
    border-width: 1px;
    border-color: #1d6c96;
    border-style: none none solid none;
}

.statusList-delete
{
    border-radius: 5px;
    /*margin: 10px;*/
    width: 50px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background: #ef3a28;
    float: left;
    font-size:75%;
    text-align: center;
}

.statusList-new {
    margin: 20px;
    text-align: right;
    color: white;
}

.statusList-add {
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #2a6496;
    padding-right: 10px;
    width: 265px;
    color: white;
    font-size: 150%;
    background: #4b688e;
}

.statusList-addButton {
    /*padding-top: 5px;*/
    margin-top: 3px;
    margin-right: 5px;
    width: 50px;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    background-color: #2a6496;
    border-color: #00aeef;
    text-align: center;
    float: left;
    font-size: 120%;
}
.statusList-addButton.disabled {
    background: #aaaaaa;
    border-color: #aaaaaa;
    color: #666666;
}

.statusList-highlight {
    color: #ff0000;
}

.settings-cb {
    width:20px;
    display: inline-block;
}

.settings-option
{
    display: inline-block;
}

.settings-label {
    text-align:right;
    margin-right: 4%;
    font-size:125%;
    padding-bottom:2px;
}

.settings-switch {
    text-align: left;
    margin-left: 4%;
}

.settings-label2 {
    float:right;
    margin-right: 4%;
    font-size:125%;
    padding-bottom:2px;
}

.settings-next {
    float: left;
    margin-left: 4%;
}

.settings-back {
    position:absolute;
    top:-30px;
    right: 15px;
}

.switch1 {
    position: relative;
    float: left;
    line-height: 1.6em;
    text-indent: 4em;
    margin: 0;
    cursor: pointer;
}
    .switch1:before, .switch1:after {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: ' ';
        width: 3.6em;
        background-color: #c33;
        border-radius: 0.3em;
        box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
    }

    .switch1:after {
        width: 1.4em;
        top: 0.1em;
        bottom: 0.1em;
        margin-left: 2.1em;
        background-color: #fff;
        border-radius: 0.15em;
        box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
    }

    .switch1.on1:before {
        background-color: #393;
    }

    .switch1.on1:after {
        margin-left: 0.2em;
    }

.report2-header {
    margin-bottom: 5px;
    width:98%;
    text-align:center;
    font-size:187.5%;
    background: #4b688e;
    padding-right:15px;
    display: inline-block;
}
/*
.report2-datepicker {
    background:#234a7d;
    width: 200px;
}
.md-datepicker-button{
    display: none;
}

input[type=date] {
    height: 25px;
    margin-left: 10px;
    padding-left: 7px;
    width: 160px;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #4b688e;
    outline: none;
    border-radius: 3px;
    color: #4b688e;
}
    input::-webkit-inner-spin-button,
    input::-webkit-clear-button {
        display: none;
    }

    input::-webkit-calendar-picker-indicator:hover {
        background-color: #4b688e;
        color: #ffffff;
        cursor: pointer;
    }

.report2-datepicker {
    background:#234a7d;
}

.md-datepicker-input {
    width: 150px;
}

.md-datepicker-button{
    display: none;
}
*/
.report2-btn {
    border-radius: 5px;
    padding-top:6px;
    margin: 7px;
    width: 72px;
    height: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: #00aeef;
    display: inline-block;
}

.report2-save {
    width: 340px;
    margin-top: 10px;
    text-align: left;
    display: inline-block;
}

.report2-save-btn {
    border-radius: 5px;
    padding-top:0px;
    margin: 4px;
    margin-top:15px;
    width: 100px;
    height: 35px;
    text-align: center;
    background:#4b688e;
    font-size: 160%;
}

.reprt2-date {
    width:330px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

.report2-calander {
    float: left;
    margin-bottom: 5px;
}

.report2-date_display {
    width: 130px;
    float: left;
    margin-left: 10px;
    text-align: center;
    border-width: 1px;
    border-color: #ffffff;
    border-style: none none solid none;
    font-size: 150%;
}

.report2-label {
    float: right;
    text-align: right;
    font-size:170%;
}

.report2-calander_header {
    margin-top:20%;
    margin-bottom: 15px;
    width:80%;
    text-align:center;
    font-size:187.5%;
    background: #4b688e;
    padding-right:15px;
    display: inline-block;
}

.report2-calander_label {
    margin-bottom: 20px;
    width:80%;
    display:inline-block;
    text-align: right;
    font-size:140%;
}

.report2-calander_btn {
    border-radius: 5px;
    padding-top:0px;
    margin: 4px;
    margin-top:15px;
    width: 100px;
    height: 35px;
    text-align: center;
    background:#4b688e;
    font-size: 160%;
    display: inline-block;
}

.report2-clander_page {
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
    background: #234a7d;
    z-index:20;
}